.intro {
}
.intro-container {
  background-color: var(--white-color);
  border-radius: var(--borderRadius3);
  margin-top: 6px;
}
.intro-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
}
.intro-list a:hover {
  transform: translateY(-1px);
}
.intro-list a {
  margin: 0 8px;
  width: 9%;
}
.intro-item {
  text-align: center;
  width: 100%;
  transition: 0.3s;
}

.intro-img {
  width: 44px;
  margin: 0 auto;
  margin-bottom: 4px;
}
.intro-desc {
  font-size: var(--fontSize13);
}
